 <table CLASS="MYTABLE">
    <caption CLASS="MYTABLE">Servicios de Cableado</CAPTION>

    <THEAD >
      <TR CLASS="MYTABLE">
        <TH CLASS="MYTABLE">PLAN</TH>
        <TH CLASS="MYTABLE">PRECIO</TH>
        <th>DETALLES</th>
        <th>CANTIDAD</th>
        <TH CLASS="MYTABLE">¿COMPRAR?</TH>
      </TR>
    </THEAD>

    <TBODY>
      <TR CLASS="MYTABLE">
        <TD CLASS="MYTABLE">Económico</TD>
        <TD CLASS="MYTABLE">$1,200.00</TD>
        <td>Rápida instalación con componentes accesibles <br /> <br />Menos de 50 mts cúbicos</td>
        <td><input type="text" value="0"/></td>
        <TD CLASS="MYTABLE"><button type="submit">Comprar</button></TD>
      </TR>

      <TR CLASS="MYTABLE">
        <TD CLASS="MYTABLE">Estándar</TD>
        <TD CLASS="MYTABLE">$4,500.00</TD>
        <td>Instalación supervisada con materiales de buena calidad <br /><br />50 mts - 100 mts cúbicos</th>
        <td><input type="text" value="0"/></td>
        <TD CLASS="MYTABLE"><button type="submit">Comprar</button></TD>
      </TR>

      <TR CLASS="MYTABLE">
        <TD CLASS="MYTABLE">Óptimo</TD>
        <TD CLASS="MYTABLE">$7,500.00</TD>
        <td>Planeación e instalación de cableado totalmente documentados con componentes de la más alta calidad <br /><br />200 mts cúbicos o más</td>
        <td><input type="text" value="0"/></td>
        <TD CLASS="MYTABLE"><button type="submit">Comprar</button></TD>
      </TR>
    </TBODY>
  </TABLE>

