<ul id='slider1'>
  <li>
    <aside class="featured" ><article>
    <figure>
      <%= image_tag 'logo.png', :alt => 'OmniNet', :width => '300', :height => '205' %>
    </figure>
    <hgroup>
      <h2>¡Tu mejor opción!</h2>
      <h3>Absolutamente garantizado</h3>
    </hgroup>
    <p>Somos una empresa encargada de realizar diagnóstico e implementación de redes estructuradas, tomando como referencia certificaciones de alta calidad y de renombre mundial, como <a href="http://www.cisco.com" rel="external">CCNA</a>.</p>
    </article></aside>
  </li>
  <li>
    <aside class="featured"><p>blablablablabalblabsldalsdsdfs</p></aside>
  </li>
</ul>

<header>
  <h1>Promociones!</h1>
</header>
<section>
  <p>Aquí deben ir las promociones...</p>
</section>

