<ul id='slider1'>
  <li>
    <aside class="featured" ><article>
    <figure>
      <%= image_tag 'cables.jpg', :alt => 'OmniNet', :width => '300', :height => '205' %>
    </figure>
    <hgroup>
      <h2>¡Tu mejor opción!</h2>
      <h3>Absolutamente garantizado</h3>
    </hgroup>
    <p>Somos una empresa encargada de realizar diagnósticos e implementación de redes estructuradas.</p>
    </article></aside>
  </li>
  <li>
    <aside class="featured">
    <figure>
      <%= image_tag 'cisco.jpg', :allt =>'Cisco' %>
    </figure>
    <hgroup>
      <h2>¡Cisco nos avala!</h2>
      <h3>Garantía a nivel mundial</h3>
    </hgroup>
    <p>Contamos con técnicos especializados con diplomados en la certificación CCNA.</p>
    </aside>
  </li>
  <li>
    <aside class="featured">
    <figure>
      <%= image_tag 'gift.jpg', :alt =>'cables' %>
    </figure>
    <hgroup>
      <h2>¡Oferta especial!</h2>
      <h3>Precio de inauguración</h3>
    </hgroup>
    <p>Aproveche nuestros precios de inauguración; además, el primer diagnóstico es totalmente <strong>¡GRATIS!</strong></p>
  </li>
  </div>
</ul>

